html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 214, 197);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header li{
    display: inline;
}

.header.logo {
    flex-grow: 1;
}